<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.apartmentmanagement.dao.DisciplinaryInfoMapper">
    
    <resultMap type="DisciplinaryInfo" id="DisciplinaryInfoResult">
        <result property="stuId"    column="stu_id"    />
        <result property="stuName"    column="stu_name"    />
        <result property="disciplinaryInfo"    column="disciplinary_info"    />
        <result property="dormitoryNo"    column="dormitory_no"    />
        <result property="disciplinaryTime"    column="disciplinary_time"    />
    </resultMap>

    <sql id="selectDisciplinaryInfoVo">
        select stu_id, stu_name, disciplinary_info, dormitory_no, disciplinary_time from disciplinary_info
    </sql>

    <select id="selectDisciplinaryInfoList" parameterType="DisciplinaryInfo" resultMap="DisciplinaryInfoResult">
        <include refid="selectDisciplinaryInfoVo"/>
        <where>  
            <if test="stuName != null  and stuName != ''"> and stu_name like concat('%', #{stuName}, '%')</if>
            <if test="disciplinaryInfo != null  and disciplinaryInfo != ''"> and disciplinary_info = #{disciplinaryInfo}</if>
            <if test="dormitoryNo != null  and dormitoryNo != ''"> and dormitory_no = #{dormitoryNo}</if>
            <if test="disciplinaryTime != null "> and disciplinary_time = #{disciplinaryTime}</if>
        </where>
    </select>
    
    <select id="selectDisciplinaryInfoByStuId" parameterType="String" resultMap="DisciplinaryInfoResult">
        <include refid="selectDisciplinaryInfoVo"/>
        where stu_id = #{stuId}
    </select>
        
    <insert id="insertDisciplinaryInfo" parameterType="DisciplinaryInfo">
        insert into disciplinary_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuId != null">stu_id,</if>
            <if test="stuName != null">stu_name,</if>
            <if test="disciplinaryInfo != null">disciplinary_info,</if>
            <if test="dormitoryNo != null">dormitory_no,</if>
            <if test="disciplinaryTime != null">disciplinary_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuId != null">#{stuId},</if>
            <if test="stuName != null">#{stuName},</if>
            <if test="disciplinaryInfo != null">#{disciplinaryInfo},</if>
            <if test="dormitoryNo != null">#{dormitoryNo},</if>
            <if test="disciplinaryTime != null">#{disciplinaryTime},</if>
         </trim>
    </insert>

    <update id="updateDisciplinaryInfo" parameterType="DisciplinaryInfo">
        update disciplinary_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuName != null">stu_name = #{stuName},</if>
            <if test="disciplinaryInfo != null">disciplinary_info = #{disciplinaryInfo},</if>
            <if test="dormitoryNo != null">dormitory_no = #{dormitoryNo},</if>
            <if test="disciplinaryTime != null">disciplinary_time = #{disciplinaryTime},</if>
        </trim>
        where stu_id = #{stuId}
    </update>

    <delete id="deleteDisciplinaryInfoByStuId" parameterType="String">
        delete from disciplinary_info where stu_id = #{stuId}
    </delete>

    <delete id="deleteDisciplinaryInfoByStuIds" parameterType="String">
        delete from disciplinary_info where stu_id in 
        <foreach item="stuId" collection="array" open="(" separator="," close=")">
            #{stuId}
        </foreach>
    </delete>
</mapper>