<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.apartmentmanagement.dao.DormMapper">
    <sql id="selectFields">
        dorm_id,dorm_total,dorm_remainder,dorm_type,dorm_floor,building_number
    </sql>

    <select id="selectById" resultType="Dorm">
        SELECT <include refid="selectFields"></include>
        FROM dorm
        WHERE dorm_id = #{dormId}
    </select>

    <select id="selectDorm" resultType="Dorm">
        SELECT <include refid="selectFields"></include>
        FROM dorm
        WHERE 1 = 1
        <if test="dormId != null and dormId != ''">
            and dorm_id = #{dormId}
        </if>
        <if test="dormTotal !=null and dormId != ''">
            and dorm_total=#{dormTotal}
        </if>
        <if test="dormRemainder != null and dormRemainder != ''">
            and dorm_remainder=#{dormRemainder}
        </if>
        <if test="dormType !=null and dormType != ''">
            and dorm_type=#{dormType}
        </if>
        <if test="dormFloor !=null and dormFloor != ''">
            and dorm_floor=#{dormFloor}
        </if>
        <if test="buildingNumber !=null and buildingNumber != ''">
            and building_number=#{buildingNumber}
        </if>
    </select>

    <select id="findLive" resultType="int">
        SELECT count(*)
        FROM live
        WHERE dorm_id = #{dormId}
    </select>

    <select id="selectDorms" resultType="Dorm">
        SELECT <include refid="selectFields"></include>
        FROM dorm
        where dorm_total = #{dormTotal}
    </select>

    <select id="selectAccessDorms" resultType="Dorm">
        SELECT <include refid="selectFields"></include>
        FROM dorm
        where dorm_remainder != 0
    </select>

    <insert id="insertDorm" parameterType="Dorm" keyProperty="dorm_id">
        INSERT INTO dorm (<include refid="selectFields"></include>)
        VALUES (#{dormId}, #{dormTotal}, #{dormTotal}, #{dormType}, #{dormFloor},#{buildingNumber})
    </insert>

    <delete id="deleteDorm" parameterType="String" >
        delete from dorm where dorm_id=#{dormId}
    </delete>

    <update id="updateDorm" parameterType="Dorm">
        update dorm
        <set>
            <if test="dormTotal !=null and dormTotal !=''">
                dorm_total=#{dormTotal},
                dorm_remainder=#{dormTotal},
            </if>
            <if test="dormType !=null and dormType !=''">
                dorm_type=#{dormType},
            </if>
        </set>
        where dorm_id = #{dormId}
    </update>

    <update id="addRemainder" parameterType="String">
        update dorm set dorm_remainder = dorm_remainder + 1
        where dorm_id = #{dormId}
    </update>

    <update id="reduceRemainder" parameterType="String">
        update dorm set dorm_remainder = dorm_remainder - 1
        where dorm_id = #{dormId}
    </update>

    <select id="findTotal" resultType="int">
        SELECT dorm_total
        FROM dorm
        WHERE dorm_id = #{dormId}
    </select>

    <select id="getDormType" resultType="String">
        SELECT dorm_type
        FROM dorm
        WHERE dorm_id = #{dormId}
    </select>
</mapper>