<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.apartmentmanagement.dao.FareMapper">
    <sql id="selectFields">
        stu_id,water_number,electric_number,water_price,electric_price
    </sql>


    <select id="selectFare" resultType="Fare">
        SELECT stu_id,water_number*water_price as water_cost,electric_number*electric_price as electric_cost,
        water_number*water_price+electric_number*electric_price as cost
        FROM student,fare
        WHERE 1 = 1
        <if test="stuId != null and stuId !=''">
            and stu_id=#{stuId}
        </if>
    </select>


</mapper>