<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.apartmentmanagement.dao.LiveMapper">



    <select id="selectLiveByDorm" resultType="Live">
        SELECT live_id, stu_id, dorm_id, bed_id
        FROM live
        WHERE 1=1
        <if test="dormId != null and dormId !=''">
            and dorm_id=#{dormId}
        </if>
    </select>

    <insert id="insertLive" parameterType="Live" keyProperty="liveId" useGeneratedKeys="true">
        INSERT INTO live (stu_id, dorm_id, bed_id)
        VALUES ( #{stuId}, #{dormId}, #{bedId})
    </insert>


    <select id="selectLive" resultType="Live">
        SELECT live_id, stu_id, dorm_id, bed_id
        FROM live
        WHERE 1 = 1
        <if test="stuId != null and stuId !=''">
            and stu_id=#{stuId}
        </if>
        <if test="dormId !=null and dormId !=''">
            and dorm_id=#{dormId}
        </if>
        <if test="bedId !=null and bedId !=''">
            and bed_id=#{bedId}
        </if>
    </select>

    <delete id="deleteLive" parameterType="String" >
        delete from live where stu_id=#{stuId}
    </delete>


    <update id="updateLive" parameterType="Live">
        update live set dorm_id = ${dormId}, bed_id = ${bedId} where stu_id = #{stuId}
    </update>

    <select id="selectDormIdByStuId" parameterType="String" resultType="String">
        select dorm_id
        from live
        where stu_id = #{stuId}
    </select>
</mapper>