<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.apartmentmanagement.dao.PriceMapper">

    <select id="findPrice" resultType="Price">
        SELECT water_price,electric_price
        FROM fare
    </select>

    <select id="selectPrice" resultType="Price">
        SELECT water_price,electric_price
        FROM fare
    </select>

    <update id="updatePrice" parameterType="Price">
        update fare
        <set>
            <if test="waterPrice != null and waterPrice !=''">
                water_price=#{waterPrice},
            </if>
            <if test="electricPrice != null and electricPrice !=''">
                electric_price=#{electricPrice},
            </if>
        </set>
        where 1 = 1
    </update>


</mapper>