<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.apartmentmanagement.dao.SysMapper">



    <select id="selectFee" resultType="int">
        SELECT fee
        FROM fee
        where id = 1
    </select>

    <update id="updateFee" parameterType="int">
        update fee set fee = ${newFee} where id = 1

    </update>

</mapper>