<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.apartmentmanagement.dao.UserMapper">



    <select id="selectUser" resultType="User">
        SELECT user_id, user_type
        FROM user
        WHERE 1 = 1
        <if test="userId != null and userId !=''">
            and user_id=#{userId}
        </if>
        <if test="userName != null and userName !=''">
            and user_id=#{userId}
        </if>
        <if test="userType !=null and userType !=''">
            and user_type=#{userType}
        </if>
    </select>
    <select id="selectAllUser" resultType="User">
        SELECT user_id, user_name,user_type
        FROM user
    </select>
<!--    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="user_id" >-->
<!--        INSERT INTO user (user_name, user_password, user_type)-->
<!--        VALUES (#{userName}, #{userPassword}, #{userType})-->
<!--    </insert>-->
    <insert id="insertUser" parameterType="User" keyProperty="userId" useGeneratedKeys="true">
        INSERT INTO user (user_name, user_password, user_type)
        VALUES (#{userName}, #{user_password}, #{userType})
    </insert>
    <delete id="deleteUser" parameterType="String" >
        delete from user where user_id=#{userId}
    </delete>

</mapper>