<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    选择环境  -->

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>


    <plugins>
        <!--分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    <mappers>

        <!--        name是包名  包中所有mapper文件一次加载  -->
        <package name="com.rt.dao"/>
    </mappers>
</configuration>